In [1]:
bob = lambda x: x*x+x+17

In [2]:
type(bob)

function

In [3]:
bob(3)

29

In [4]:
def joe():
    print("meep")

In [11]:
def twice(calable, inp):
    calable(calable(inp))

In [15]:
bob(bob(7))

5419

In [7]:
joe = 17

In [8]:
joe

17

In [9]:
joe()

TypeError: 'int' object is not callable

In [67]:
bob = {}
bob["cat"] = 2
bob[3] = "dog"
bob

{'cat': 2, 3: 'dog'}

In [68]:
bob.pop('cat')
bob

{3: 'dog'}

In [6]:
2 in bob

False

In [7]:
import numpy as np

In [8]:
x = np.nan

In [9]:
x

nan

In [10]:
type(x)

float

In [11]:
y = np.nan

In [12]:
x == y

False

In [13]:
x == x

False

In [17]:
x is np.nan

True

In [18]:
x is y

True

In [19]:
x =2
y=2
x == y, x is y

(True, True)

In [21]:
bob = [x,y]
joe = bob.copy()
bob == joe, bob is joe

(True, False)

In [37]:
import copy

In [38]:
def cleanup(leest):
    leest_listed = list(leest)
    leest_copied = copy.deepcopy(leest)
    return(leest_listed, leest_copied)

In [47]:
bob = [1,2]
joe = [bob, bob]
pear = cleanup(joe)

In [48]:
pear

([[1, 2], [1, 2]], [[1, 2], [1, 2]])

In [50]:
pear[1][0][0] = 17

In [51]:
pear

([[1, 2], [1, 2]], [[17, 2], [17, 2]])

In [43]:
bob[0] = 17

In [44]:
pear

([[17, 2], [17, 2]], [[1, 2], [1, 2]])

In [45]:
pear[1][0] = 3

In [46]:
pear

([[17, 2], [17, 2]], [3, [1, 2]])

In [52]:
import pandas as pd

In [53]:
bob = pd.DataFrame({"a": bob, "b":bob})

In [54]:
bob

   a  b
0  1  1
1  2  2

In [55]:
bob["b"] = [3,4]

In [56]:
bob

   a  b
0  1  3
1  2  4

In [57]:
joe = bob["b"]

In [58]:
joe

0    3
1    4
Name: b, dtype: int64

In [59]:
joe[0] = 7

In [60]:
joe

0    7
1    4
Name: b, dtype: int64

In [61]:
bob

   a  b
0  1  7
1  2  4

In [62]:
cat = bob["a"].copy()

In [63]:
cat

0    1
1    2
Name: a, dtype: int64

In [64]:
cat[0] = 17

In [65]:
cat

0    17
1     2
Name: a, dtype: int64

In [66]:
bob

   a  b
0  1  7
1  2  4